
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	/* required settings */
	position: relative;
	overflow: hidden;
	width: 770px;
	height: 550px;
	margin: 5px 0px;
	/* custom decorations */
}

.search-result .scrollable{
    width: 910px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width: 20000em;
	position: absolute;
	clear: both;
}


/* active item */
.scrollable .active {
	border: 2px solid #000;
	position: relative;
	cursor: default;
}


