@CHARSET "UTF-8";

.clear {
    clear: both;
}

.submit a {
    margin: 0 0 0 5px;
}

#header {
    overflow: hidden;
}

#header h1 {
    float: left;
}

.nav {
    float: right;
}

.nav a {
    color: #fff;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.nav ul li {
    float: left;
    border-right: 1px solid #fff;
    padding-right: 5px;
    margin: 0 0 0 5px;
}

.nav ul li.last {
    border: 0;
}